/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 60px;

}

.jumbotron {
    background-image: url("img/Auto-Repair.jpg");
    padding-top: 250px;
    padding-bottom: 250px;
    background-position: 45% center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.jumbotron > .container > h1 {
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 54px;
    padding-bottom: 20px;
}
